[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "antigen"]
	path = antigen
	url = git@github.com:zsh-users/antigen.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
