[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jamieei/Desktop/steam.desktop]
row=15
col=0

[/home/jamieei/Desktop/ck2.desktop]
row=14
col=0

[1.0 TB Encrypted]
row=16
col=0

[Trash]
row=11
col=0

[/]
row=12
col=0

[/home/jamieei]
row=13
col=0

