[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jamieei/Desktop/steam.desktop]
row=5
col=0

[/home/jamieei/Desktop/ck2.desktop]
row=4
col=0

[1.0 TB Encrypted]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/jamieei]
row=3
col=0

